
@{
    ViewBag.title = "baitap3_index";
    Layout = "~/Views/layout/layout.cshtml";
}

<h2>Example to calculate the Acreage - Perimeter of the basic shape </h2>
<div class="col-md-8">
    <p>
        The Model-View-Controller (MVC) is an architectural pattern that separates an
        application into three main logical components: the model, the view, and the
        controller. Each of these components are built to handle specific development
        aspects of an application. MVC is one of the most frequently used
        industry-standard web development framework to create scalable and extensible
        projects.
    </p>
</div>
<div class="col-md-4">
    <img scr="~/assets/colors-and-shapes.png" class="img-thumnail"/>
</div>
<div>
    <a href="~/Circle/Index">Circle</a>
</div>
<div>
    <a href="~/Rectangle/Index">Rectangle</a>
</div>
<div>
    <a href="~/Triangle/Index">Triangle</a>
</div>