@model lablaptrinhweb.Models.sinhvien
@{
    ViewBag.Title = "bai tap 2";
    Layout = "~/Views/layout/layout.cshtml";
}
<a href="~/Baihai/Sinhvien">sinh vien</a>
<hr/>
<a href="~/Baihai/Hocsinh">hoc sinh</a>
<hr />
<a href="~/Baihai/User_">user</a>

