
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/layout/layout.cshtml";
}
@section css{
    <link rel="stylesheet" href="~/Views/Caculator/StyleSheet1.css" />
    }
<form method="post">
    <input type="number" name="soa" value="@ViewBag.soa"/>
    <br/>
    <input type="number" name="sob" value="@ViewBag.sob" />
    <hr/>
    <button name="dau" value="+">+</button>
    <button name="dau" value="-">-</button>
    <button name="dau" value="*">*</button>
    <button name="dau" value="/">/</button>
</form>
<p>ket qua la @ViewBag.kq</p>
