@model lablaptrinhweb.Models.ProductInfo
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/layout/layout.cshtml";
}

<h2 class="text-center">Product Detail</h2>
<div class="container" style="width:75%">
    <div class="row">
        <div class="col-sm-4"><img src="~/assets/@Model.ProImg" class="img-thumbnail" style="width:100%" alt="Image" /></div>
        <div class="col-sm-8">
            <h4 class="text-uppercase">@Model.ProName</h4>
            <h4 style="color:darkblue"><strong>@Model.ProCategory</strong></h4>
            @Model.ProPrice
        </div>
    </div>
</div>
