@model IEnumerable<lablaptrinhweb.Models.ProductInfo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/layout/layout.cshtml";
}
<div class="">
    <div style="display:flex;justify-content:space-around;align-items:center;flex-wrap:wrap;">
        @foreach (var item in Model)
        {
            <div style="width:30%;height:500px">
                <div class="panel panel-info">
                    <div class="panel-heading text-uppercase"><a href="Detail">@item.ProName</a></div>
                    <div class="panel-body">
                    <img src="~/assets/@item.ProImg" class="img-responsive" style="width:100%;height:50%;" alt="Image"/>
                    </div>
                    <div class="panel-footer">
                        <h4 style="color:darkblue"><strong>@item.ProCategory</strong></h4>
                        $@item.ProPrice
                    </div>
                </div>
            </div>
        }
    </div>
</div>

