
<html>
<head>
    <title>@ViewBag.title</title>
    <link type="text/css" href="~/css/layoutcss/layout.css" rel="stylesheet"/>
    <link type="text/css" href="~/css/bootstrap.min.css" rel="stylesheet"/>
    <script type="text/javascript"src="~/script/bootstrap.min.js"></script>
    <script type="text/javascript"src="~/script/jquery.js"></script>
    @RenderSection("css",false)
    <meta charset="utf-8" />

</head>
<body>
    <div class="nav">
        <a href="~/Home/Index" class="item">Home</a>
        <a href="~/caculator/Index" class="item">bai caculator</a>
        <a href="~/Baiba/Index" class="item">bai 3</a>
        <a href="~/Baibon/Index" class="item">bai 4</a>
    </div>
    @RenderBody()
</body>
</html>
